.main {
	h1 {
		font-size: 5rem;
		color: $baseColor;
		position: relative;
	}

	.pic {
		width: 500px;
		height: 500px;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
